<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Dashboard I Admin Panel</title>
	
	<link rel="stylesheet" href="css/layout.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" media="screen" />
    
	<!--[if lt IE 9]>
	<link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>
<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title"><a href="">Sugarizer Dashboard</a></h1>
			<h2 class="section_title">TEACHER PANEL</h2><div class="btn_view_site"><a href="">Logout</a></div>
		</hgroup>
	</header> 
	
	<aside id="sidebar" class="column">
		<h3>Statistics</h3>
		<ul class="toggle">
			<li class="icn_new_article"><a href="student">Student Statistics</a></li>
			<li class="icn_edit_article"><a href="journal">Journal Usage</a></li>
			<li class="icn_categories"><a href="activity">Activity Analysis</a></li>
		</ul>
		<a href="activitylist"><h3>Update Activities' List</h3></a>
		<a href="map"><h3>Student Map</h3></a>
		

	</aside><!-- end of sidebar -->