<section id="main" class="column">
    <div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
    				<th>Activity Name</th> 
    				<th>Total Time Opened</th> 
    				<th>Last Time Opened</th> 
    				<th>Last Time Opened From</th> 
				</tr> 
			</thead> 
			<tbody> 
				<tr> 
    				<td>Paint</td> 
    				<td>6 Times</td> 
    				<td>3 hours ago</td> 
    				<td>Home View</td> 
				</tr> 
				<tr> 
    				<td>Grid Paint</td> 
    				<td>15 Times</td> 
    				<td>25 min ago</td> 
   				 	<td>Neighbourhood View</td> 
				</tr>

			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
			
			
		

			
		</div><!-- end of .tab_container -->

</section>