<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Total</h4>
            </div>
            <div class="modal-body">
                <p>Not yet Implemented</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<section id="main" class="column">
    <div class="center">
        <h1>Total Journals</h1>
        <h2>Total: 100
            <input type="button" value="view all" data-toggle="modal" data-target="#myModal">
        </h2>
        <br>
        <hr>
        
        <h1>Total  Entries</h1>
        <h2>Total: 50
            <input type="button" value="view all" data-toggle="modal" data-target="#myModal">
        </h2>
        <br>
        <hr>
        
            
        <h1>Manage Journals</h1>
        <input type="button" value="add student"><br>
        <input type="text" value="Saurav's Journal"><input type="button" value="search">
        <p><span style="margin-right:20px">Saurav' Journal</span> <input type="button" value="view"> <input type="button" value="edit"> <input type="button" value="remove"></p>


    </div>
</section>