<section id="main" class="column">
    <div class="tab_container">
			<div id="tab1" class="tab_content">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
    				<th>Activity Name</th> 
    				<th>Visibility</th> 

				</tr> 

			</thead> 
			<tbody> 
				<tr> 
                    <td>Pain</td>
    				<td><input type="checkbox"></td> 	
				</tr> 
				<tr> 
    				<td>Gear</td>
    				<td><input type="checkbox"></td> 
				</tr>

                <tr> 
    				<td>Maze Web</td>
    				<td><input type="checkbox"></td> 
				</tr>

                <tr> 
    				<td>Memorize</td>
    				<td><input type="checkbox"></td> 
				</tr>

                <tr> 
    				<td>Physics JS</td>
    				<td><input type="checkbox"></td> 
				</tr>

                <tr> 
    				<td>TamTam Micro</td>
    				<td><input type="checkbox"></td> 
				</tr>

			</tbody> 
			</table>
			</div><!-- end of #tab1 -->
			
			
		
<hr>
			
		</div><!-- end of .tab_container -->
        <div class="center">
            <h1>Home View Activities Order</h1>
                <input type="checkbox"> Default<br>
                <input type="checkbox"> Recent Used First
<hr>

             <h1>Favourite View Activities Order</h1>
                <input type="checkbox"> Default<br>
                <input type="checkbox"> Recent Used First
                
        </div>

</section>